.button {
    background-color: #000000;
    border: white;
    color: white;
    padding: 20px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonDel {
    background-color: #A9A9A9;
    border: green;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.button:hover {background-color: #1E90FF}

.button:active {
background-color: #1E90FF;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
.buttonDel:hover {background-color: #1E90FF}

.buttonDel:active {
background-color: #1E90FF;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}
